{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3 mt-5">
     <h1>Please enter the title and embded url to add video</h1>
     <form accept-charset="UTF-8" action="{% url 'video:add_video'%}" method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
       <div class="form-group">
         <label for="title">Title</label>
         <input type="text" name="title" class="form-control" id="title" placeholder="Enter video title" required="required">
       </div>
       <div class="form-group">
         <label for="url" required="required">Video url</label>
         <input type="url" name="url" class="form-control" id="url" aria-describedby="emailHelp" placeholder="Enter video url">
       </div>
       <hr>
       <button type="submit" class="btn btn-primary">Submit</button>
     </form>
 </div> 
{% endblock %}