{% extends 'base.html' %} 
{% load embed_video_tags %}
{% block title %}
Video Sharing Platform
{% endblock %}
{% block content %}

<body>
    
    <div class="container-fluid pb-video-container">
        <div class="col-md-10 offset-md-1">
            <h3 class="text-xs-center">Videos</h3>
            <div class="row pb-row ">
                {% for video in videos %}
                <div class="col-md-3 pb-video mb-2">
                    <div class="vid-div">
                        {% video video.embded_video '380x315' %}
                    </div>                    
                    <label class="form-control label-warning text-xs-center">{{ video.title }}</label>
                    <div class="d-flex justify-content-center">
                        <div class="details-div mt-1 mr-4">
                            <a type="submit" class="btn btn-primary" data-toggle="modal" data-target="#videodetails_{{video.id}}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        </div>
                        <div class="like-div mr-4">
                            {% if request.user in video.like.user.all %}
                            <a name="{{ video.id }}_like" data-url="{% url 'video:like_video' video.id %}" style="font-size:30px;color: blue;" class="liking" id="co"><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            </a>
                            <span class="like-no" style="font-size:30px;"> {{ video.like.user.count }} </span>
                    
                            {% else %}
                            <a name="{{ video.id }}_like" data-url="{% url 'video:like_video' video.id %}" style="font-size:30px;color: black;" class="liking" id="co"><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            </a>
                            <span class="like-no" style="font-size:30px;"> {{ video.like.user.count }} </span>                            
                        
                        {% endif %}
                        </div>
                        <div class="dislike-div mr-4">
                            {% if request.user in video.dislike.user.all %}
                            <a name="{{ video.id }}_dislike" data-url="{% url 'video:dislike_video' video.id %}" style="font-size:30px;color: blue;" class="disliking" id="co-1"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
                            <span class="dislike-no" style="font-size:30px;"> {{ video.dislike.user.count }} </span>
                            
                        {% else %}
                        <a name="{{ video.id }}_dislike" data-url="{% url 'video:dislike_video' video.id %}" style="font-size:30px;color: black;" class="disliking" id="co-1"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
                        <span class="dislike-no" style="font-size:30px;"> {{ video.dislike.user.count }} </span>
                            
                        {% endif %}
                        </div>
                    </div>
                    
                    
                    <div class="modal fade" id="videodetails_{{video.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">View details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                    
                                        <h5>Added By: {{ video.added_by.first_name }}</h5>
                    
                                    </div>
                    
                                        <div class="col-md-6 mb-4">
                
                                            <h5>Added At: {{ video.created_at }}</h5>
                        
                                        </div>
                    
                                </div>
                                <div class="row">
                                    <div  class="col-md-6 mb-4">
                                        <h5 id="like-count">Like Count: {{ video.get_total_likes }}</h5>
                                    </div>
                
                                    <div  class="col-md-6 mb-4">
                                        <h5 id="dislike-count">Dislike Count: {{ video.get_total_dislikes }}</h5>
                                    </div>
                    
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <h5>liked by: </h5>
                                        {% for usr in video.like.user.all %}
                                        {{ usr }}
                                        {% endfor %}
                                    </div>
                
                                    <div class="col-md-6 mb-4">
                                        <h5>Disliked by: </h5>
                                        {% for usr in video.dislike.user.all %}
                                        {{ usr }}
                                        {% endfor %}
                                    </div>
                    
                                </div>


                                
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>                    
                </div>
                {% endfor %}
            </div> 
        </div>
    </div>

    
    
    <style>
        .pb-video-container {
            padding-top: 20px;
            background: #bdc3c7;
            font-family: Lato;
        }
    
        .pb-video {
            border: 1px solid #e6e6e6;
            padding: 5px;
        }
    
            .pb-video:hover {
                background: #e6e6e6;
            }
    
        .pb-video-frame {
            transition: width 2s, height 2s;
        }
    
            .pb-video-frame:hover {
                height: 300px;
            }
    
        .pb-row {
            margin-bottom: 10px;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
// Like AJAX CALL
$('.liking').click(function(){
    let url = $(this).attr('data-url');
    let loginUrl = "{% url 'users:login' %}";
    
    $.ajax({
            type: "POST",
            url: url,
            data: {'video_id': $(this).attr('name'),'operation':'like_submit','csrfmiddlewaretoken': '{{ csrf_token }}'},
            dataType: "json",
            success: function(response) {
                console.log(response);
                if (response.is_logged_in == true) {
                    selector = document.getElementsByName(response.video_id);
                    dislike_selector = document.getElementsByName(response.disliked_video_id);
                    
                    if(response.liked==true){
                        $(selector).css("color","blue");
                        $(selector).siblings("span.like-no").html(response.like_count);
                        $(dislike_selector).css("color","black");
                        $(dislike_selector).siblings("span.dislike-no").html(response.dislike_count);
                    }
                    else if(response.liked==false){
                        $(selector).css("color","black");
                        $(selector).siblings("span.like-no").html(response.like_count);
                        $(dislike_selector).css("color","black");
                        $(dislike_selector).siblings("span.dislike-no").html(response.dislike_count);
                        

                    }
                }
                else {
                    alert("You need to login first to like or dislike")
                    location.href = loginUrl;
                }
                

                },
            error: function (error){
                console.log(error);
        },
        
        });

  })
</script>

<script>
    //Dislike AJAX CALL
    $('.disliking').click(function(){
        let url = $(this).attr('data-url');
        let loginUrl = "{% url 'users:login' %}";
        console.log(url);
        $.ajax({
                type: "POST",
                url: url,
                data: {'video_id': $(this).attr('name'),'operation':'dislike_submit','csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: "json",
                success: function(response) {
                    console.log(response);
                    if (response.is_logged_in == true) {
                        selector = document.getElementsByName(response.video_id);
                        like_selector = document.getElementsByName(response.liked_video_id);
                        if(response.disliked==true){
                            $(selector).css("color","blue");
                            $(selector).siblings("span.dislike-no").html(response.dislike_count);
                            $(like_selector).css("color","black");
                            $(like_selector).siblings("span.like-no").html(response.like_count);

                        }
                        else if(response.disliked==false){
                            $(selector).css("color","black");
                            $(selector).siblings("span.dislike-no").html(response.dislike_count);
                            $(like_selector).css("color","black");
                            $(like_selector).siblings("span.like-no").html(response.like_count);

                        }
                    }
                    else {
                    alert("You need to login first to like or dislike")
                    location.href = loginUrl;
                }
    
                    },
                error: function (error){
                    console.log(error);
            },
            
            });
    
      })
</script>
</body>


{% endblock %}